{% load static  %}
<link rel='stylesheet' type='text/css' href={% static 'polls/style.css' %}>
{% if latest_question_list %}
<ul>
{% for question in latest_question_list %}
{% comment "b4 adding  a namespace for the url.py" %}
    <li><a href="{% url 'detail' question.id %}">{{question.question_text}}</a></li>
   {% endcomment %} 
     <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li> <!--after naming the -->
   {% endfor %}
</ul>
{% else %}
<p>No questions are available</p>
{% endif %}
<img src="{% static 'images/background.gif' %}" alt='Window'> <!--loading staic sheets-->